<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall Design Website</title>
    <link rel="stylesheet" href="Styles.css">
</head>
<body>

    <!--preloader-->
    <div id = "preloader"></div>
    <!-- Navbar selection -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="#home" id="navbar__logo">Wall Design</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                  <a href="/" class="navbar__links" id="home-page">Home</a>
                </li>
                <li class="navbar__item">
                  <a href="/about" class="navbar__links" id="about-page">About</a>
                </li>
                <li class="navbar__item">
                  <a href="/sample" class="navbar__links" id="sample-page">Sample</a>
                </li>
                <li class="navbar__item">
                    <a href="/contact" class="navbar__links" id="signup">Contact</a>
                  </li>
                  <li class="navbar__btn">
                    <a href="/auth/logout" class="button" id="logout">Logout</a>
                  </li>
              </ul>
        </div>
    </nav>
    <div class="content">
        <h1>About us</h1>
        <p> We will even take the orders from you if your interested <br> in our design. </p><br>
        <p> If you want us to do same designs for your house <br>you can give us order. The cost for the respective <br>designs
            will be given along with <br>the samples itself. </p> <br>   
        <p> For painting the required materials <br>(Like paint,roler,masking tapes etc..)<br>
            should be provided by you.</p> <br>  
        <p>To know about our work like <br>"how our designs will be"<br> you can check some samples are available 
        </p>
            <a href="/sample" class="anchor">Here</a>
        <p> </p>
    </div>
    
    <script src="app.js"></script>
</body>
</html>