<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wall design Website</title>
    <link rel="stylesheet" href="Styles.css" />
  </head>
  <body>
    <!--preloader-->
    <div id="preloader"></div>
    <!-- Navbar selection -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="/" id="navbar__logo">Wall Design</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="/" class="navbar__links" id="home-page">Home</a>
          </li>
          <li class="navbar__item">
            <a href="/about" class="navbar__links" id="about-page">About</a>
          </li>
          <li class="navbar__item">
            <a href="/sample" class="navbar__links" id="sample-page">Sample</a>
          </li>
          <li class="navbar__item">
            <a href="/contact" class="navbar__links" id="signup">Contact</a>
          </li>
          <li class="navbar__btn">
            <a href="/auth/logout" class="button" id="logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <%- include('./layout/flash-messages') %>

    <form class="contact-us" action="/contact" method="POST">
      <label for="uname"><b>Name:</b></label
      ><br />
      <input
        type="text"
        placeholder="Enter your Name"
        name="name"
        id="uname"
      /><br />
      <label for="city"><b>City:</b></label
      ><br />
      <input
        type="text"
        placeholder="Enter your city name"
        name="city"
        id="city"
      /><br />
      <label for="msg"><b> Message:</b></label
      ><br />
      <textarea
        id="msg"
        name="message"
        cols="30"
        rows="10"
        class="msg"
        placeholder="Message me"
        required
      >
      </textarea>
      <br />
      <button type="submit">send</button>
    </form>

    <script src="app.js"></script>
  </body>
</html>
