<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wall design Website</title>
    <link
      rel="icon"
      href="../htmlbasic/photos/wallpaint/welcome.png"
      type="image/icon type"
    />
    <link rel="stylesheet" href="/Styles.css" />
  </head>
  <body>
    
    <!--preloader-->
    <div id = "preloader"></div>
    <!-- Navbar selection -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="#home" id="navbar__logo">Wall Design</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="/" class="navbar__links" id="home-page">Home</a>
          </li>
          <li class="navbar__item">
            <a href="/about" class="navbar__links" id="about-page">About</a>
          </li>
          <li class="navbar__item">
            <a href="/sample" class="navbar__links" id="sample-page">Sample</a>
          </li>
          <li class="navbar__item">
            <a href="/contact" class="navbar__links" id="signup">Contact</a>
          </li>
          <li class="navbar__btn">
            <a href="/auth/logout" class="button" id="logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="content">
      <h2>Hi! I'm Vaibhavi</h2>
      <br />
      <h1><b>Wall Design WebApplication.</b></h1>
      <br />
      <p>
        Here I will be posting our wall painting designs <br />
        and some wall hangings.
      </p>
      <br />
      <p>
        And those design which I will be posting are<br />
        done by us.
      </p>
      <br />
      <a href="/about" class="anchor">Learn more</a>
    </div>
    <script src="app.js"></script>
  </body>
</html>
